body {
  background-color:#ae86b5;
}

.header {
  pad: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: blueviolet;
  color: aliceblue;
}
.header nav {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  margin-right: 20px;
  float: right;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: blueviolet;
}

.header nav a {
  margin-left: 25px;
  color: #ffffff;
  text-decoration: none;
}

a {
  color: blue;
  text-decoration: none;
}
.center{
  width: 100%;
  display: flex;
  justify-content: center;
}
.center img {
  width: 44%;
  padding-top: 100px;
  text-align: center;
}
.content h1 { 
  padding: 20px;
  display: block;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: blueviolet;
  color: aliceblue;
  font-size: 48px; 
  border: 5px solid grey;
  margin-inline-start: 20%;
  margin-inline-end: 20%;
}
.About-me {
  padding: 20px;
  background-color: blueviolet;
  color: aliceblue;
  border: 5px solid grey;
}

.About-me h2 {
  display: flexbox;
 font-family: 'Times New Roman', Times, serif;
  background-color: blueviolet;
  color: aliceblue;
  margin-inline-start: 1%;
}

.About-me P {
  display: block;
  font-family: 'Times New Roman', Times, serif;
   background-color: blueviolet;
   color: aliceblue;
   margin: 0%;
}
.Portfolio {
  margin-top: 1%;
  padding: 20px;
  background-color: blueviolet;
  color: aliceblue;
  border: 5px solid grey;
}

.Portfolio h2 {
  display: block;
 font-family: 'Times New Roman', Times, serif;
  background-color: blueviolet;
  color: aliceblue;
  margin-inline-start: 1%;
}
.Portfolio img {
  width: 50%;
}
.Portfolio P {
  display: block;
  font-family: 'Times New Roman', Times, serif;
   background-color: blueviolet;
   color: aliceblue;
}
.References {
  margin-top: 1%;
  padding: 20px;
  background-color: blueviolet;
  color: aliceblue;
  border: 5px solid grey;
}

.References h2 {
  display: block;
 font-family: 'Times New Roman', Times, serif;
  background-color: blueviolet;
  color: aliceblue;
  margin-inline-start: 1%;
}

.References P {
  display: block;
  font-family: 'Times New Roman', Times, serif;
   background-color: blueviolet;
   color: aliceblue;
   margin: 1%;
}
.Contact {
  margin-top: 1%;
  padding: 20px;
  background-color: blueviolet;
  color: aliceblue;
  border: 5px solid grey;
}

.Contact h2 {
  display: block;
 font-family: 'Times New Roman', Times, serif;
  background-color: blueviolet;
  color: aliceblue;
  margin-inline-start: 1%;
}

.Contanct P {
  display: block;
  font-family: 'Times New Roman', Times, serif;
   background-color: blueviolet;
   color: aliceblue;
   margin: 0%;
}

@media screen and (max-width: 992px) {
  .center,
  header nav {
    text-align: center;
  }

  }
  
